.box{
    width: 200px;
    height: 200px;
    background-color: teal;
    margin: 100px auto;
    /* border: 5px solid rgb(26, 255, 0); */
    /* transition: 1s; */
    transition-duration: 1s;
    transition-property: all;
    transition-delay: 0.5s;  /*this means hover karne ke 0.5sec baad transition start hoga*/
}

.box:hover{
    background-color: aquamarine;
    /* border: 5px solid red; */
    border-radius: 50%;
    transform: rotate(180deg);
}